.bfi-container:not(.no-highlight) > div {
  background-color: #0077FF17;
}

.bfi-list {
  height: unset !important;
  transition: height .7s ease !important;
}

.bfi-target {
  overflow: visible !important;
  -webkit-box-orient: unset;
}

.bfi-content {
  font-size: 12px;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  white-space: normal;
  letter-spacing: 0.25px;
  margin-bottom: 10px;
}

.bfi-desc {
  white-space: pre-wrap;
  &.is-compact {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.bfi-info {
  margin-top: 5px;
  vertical-align: middle;
  line-height: 1;
}

.bfi-desc + .bfi-info {
  margin-top: 8px;
}

.bfi-text {
  color: #5292d7;
}

.bfi-icon {
  line-height: 1em;
  font-size:1.4em;
  vertical-align: -5%;
}

.bfu-sep,
.bfi-dim {
  opacity: 0.6;
}

.bfi-error {
  color: red;
}

body.debug {
  .bfi-container,
  .bfi-list,
  .bfi-element,
  .bfi-avatar,
  .bfi-target,
  .bfi-content {
    outline-width: 2px;
    outline-style: dashed;
    outline-offset: -1px;
  }

  .bfi-avatar,
  .bfi-target,
  .bfi-content {
    outline-color: #a8bb11;
  }

  .bfi-element {
    outline-color: #ff5079;
  }

  .bfi-container,
  .bfi-list {
    outline-color: #2d92fa;
  }
}
